@import "modules/colors";
@import "partials/base";

html {
  font-size: 20px;
  height: 100%;
  overflow-y: scroll;
}

body {
  background: $bg-base;
  color: $fg-base;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.base-container {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: $grid-width-padding-sides;
  padding-right: $grid-width-padding-sides;
  position: relative;
  width: $grid-width;
}

.text-center {
  text-align: center;
}

a {
  color: $fg-base;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

header.base-container {
  margin-bottom: 3.5rem;

  .logo {
    background: url('/static/img/zen-circle.png') center 0 no-repeat;
    height: 292px;
    margin: 0 auto 3rem;
    position: relative;
    text-align: center;
    width: 578px;

    a.logo-text {
      bottom: 35px;
      color: $logo-fg;
      display: block;
      position: absolute;
      text-decoration: none;
      width: 100%;

      &:visited,
      &:active {
        color: $logo-fg;
      }

      span,
      strong {
        display: block;
        font-size: 1.75rem;
        line-height: 1;
      }
    }
  }

  .about-links {
    font-size: 0.8rem;
    line-height: 1;

    a {
      font-weight: 400;
    }

    a > img {
      vertical-align: bottom;
    }

    span.dot {
      color: $fg-grey;
      font-size: 1rem;
      margin: 0 2px;
    }
  }
}

footer {
  font-size: 0.8rem;
  margin: 30px 0;

  .smiling-face {

    .eye {
      line-height: 0.7;
    }
  }
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.post {

  h1.post-title {
    @extend .text-center;

    font-size: 1.2rem;
    margin: 0 0 1rem;
  }

  .post-time {
    @extend .text-center;

    color: $fg-grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
  }

  .post-content {
    @include grid-centered(8);

    p {
      text-indent: 1.5rem;
    }
  }

  & + hr.circle-divider {
    @include grid-centered(6);
  }
}

hr.circle-divider {
  border: none;
  border-top: 1px solid #ddd;
  color: #333;
  margin: 2.5rem auto;
  padding: 0 0.5rem;
  text-align: center;

  &:after {
    background: $bg-base;
    color: #666;
    content: '○';
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 0.5rem;
    position: relative;
    top: -0.75em;
  }
}
