{% extends "layout/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <script type="text/javascript">
    function setOpenID(openid, provider) {
      var u = openid.search('<username>');
      if (u != -1) {
        // openid requires username
        var user = prompt('Enter your ' + provider + ' username:');
        openid = openid.substr(0, u) + user
      }
      var form = document.forms['login'];
      form.elements['openid'].value = openid
    }
  </script>

  <h1>Sign in</h1>
  <form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <p>
      Please enter your OpenID, or select one of the providers below:<br>
      {{ form.openid(size=80) }}<br>
      |
      {% for provider in config['OPENID_PROVIDERS'] %}
        <a href="javascript:setOpenID('{{ provider.url }}', '{{ provider.name }}');">
          {{ provider.name }}
        </a>
        |
      {% endfor %}
    </p>
    <ul>
      {% for error in form.openid.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>

    <p>{{ form.remember_me }} Remember Me</p>

    <p>{{ form.submit }}</p>
  </form>
{% endblock %}
